.container
  .detail_header.header
    .header_left
      = link_to 'â†', root_path
    .header_center
    .header_right

  .detail
    = render 'commons/article', article: @article, detail: true

= javascript_pack_tag 'article'