.tabs
  .tabs_item{class: "#{'active' if current_page?(timeline_path)}"}
    =link_to 'Timeline', timeline_path
  .tabs_item
    Like
  .tabs_item{class: "#{'active' if current_page?(root_path)}"}
    =link_to 'New', root_path