.container
  .header
    .header_left
      = link_to 'â†', :back
    .header_center
      %p= @tab
    .header_right
  .follow
    - @users.each do |user|
      .follow_content
        .follow_avatar
          = image_tag user.avatar_image
        .follow_text
          .follow_userName
            = user.username
          %p aaaaaaaa