@import './variables';

.hidden {
  display: none;
}

.mv {
  background-image: url(login-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 298px;
}

.container {
  padding: 44px 16px;
  width: 100%;
  max-width: $max-with;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;

  a {
    img {
      display: block;
    }
  }

  &_left {
    width: 70px;

  }

  &_center {
    color: #333A42;
  }

  &_right {
    text-align: right;
    width: 70px;
  }
}

.color-accent {
  color: #2F80ED;
}

.color-gray {
  color: #BDBDBD;
  pointer-events: none;
}

.float_btn {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  text-align: center;
  background-color: $primary-color;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  i {
    margin-top: 22px;
  }
}

// 1枚の場合
.image-count-1 {
  grid-template-columns: 1fr;
}

// 2枚の場合
.image-count-2 {
  grid-template-columns: 1fr 1fr;
}

// 3枚の場合
.image-count-3 {
  grid-template-columns: calc(50% - 3.5px) calc(50% - 3.5px);
  grid-template-rows: calc(50% - 3.5px) calc(50% - 3.5px);

  img:first-child {
    grid-row: 1 / span 2;
  }
  img:nth-child(2) {
    grid-row: 1 / span 1;
  }
  img:nth-child(3) {
    grid-row: 2 / span 1;
  }
}

// 4枚の場合
.image-count-4 {
  grid-template-columns: calc(50% - 3.5px) calc(50% - 3.5px);
  grid-template-rows: calc(50% - 3.5px) calc(50% - 3.5px);
}
