@import './variables';

.form {
  position: relative;

  &_login {
    padding-left: 16px;
    padding-right: 16px;
  }

  &_label {
    font-size: 11px;
    color: #979797;
  }

  &_text, &_textarea {
    font-size: 16px;
    width: 100%;
    margin: 4px 0px 20px;
    padding: 9px 3px;
    border-bottom: 1px solid #9E9E9E;
  }

  &_textarea{
    resize: vertical;
    // height: 44px;
  }

  &_link {
    margin-bottom: 90px;
    color: #CCC;
    display: block;
    text-align: right;
    font-size: 11px;
  }

  &_button {
    margin-top: 20px;
    width: 100%;
    border: none;
    font-size: 14px;
    padding: 14px;
    background-color: $primary-color;
  }

  // &_album {
  //   margin-top: 20px;
  //   width: 100%;
  //   border: none;
  //   font-size: 14px;
  //   padding: 14px;
  //   background-color: $primary-color;
  // }

  &_submit {
    
  }

}